.container {
  border: 2px solid red;
  background-color: white;
  border-radius: 12px;
  box-shadow: 12px 12px 5px grey;
}
.container-title {
  display: flex;
  flex-direction: row;
  border: 2px solid red;
  width: 100%;
  flex-direction: row;
  column-gap: 12px;
}
.title {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  width: 360px;
}
.price {
  font-size: 12px;
  color: black;
  border: 2px solid green;
}
.container-price {
  display: flex;
  flex-direction: column;
  color: black;
}
.container-button {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  width: 100%;
}
.cart-button-green {
  width: 100%;
  margin: 6px;
  background-color: green;
  color: white;
}
.cart-button-orange {
  width: 100%;
  margin: 6px;
  color: white;
  background-color: orange;
}
.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font:
    32px Arial,
    sans-serif;
}
.container-image {
  border: 2px solid red;
  width: 120px;
  height: 120px;
}
