
.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 12px;
  column-gap: 12px;
  background-color: lightgrey;
  padding: 0px;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  border: 10px solid rgb(215, 243, 5);
}
